{% extends 'page/base.html' %}
{% load static %}

{% block contents %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://www.cssscript.com/demo/simple-typewriter-effect-pure-javascript-typewriterjs/typewriter.js"></script>

<header class="masthead">
  <div class="container-fluid">
    <p class="typing" id="typing"></p>
  </div>
</header>

<section class="pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-uppercase" style="font-family: 'YunTaemin', sans-serif;">Tutoring</h2>
        <h3 class="text-muted" style="font-family: 'YunTaemin', sans-serif;">튜터와 튜티를 나누어 선택할 수 있습니다.</h3>
        <br>
        <div class="row">
          <div class="col-md-4" style="margin: 0 auto;">
            <div class="card">
              <div class="card-body">
                <a class="nav-link" href="{% url 'tutees' %}" style="font-family: 'YunTaemin', sans-serif;font-size:30px;color:#d34954;">튜팅 요청 게시판</a>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin: 0 auto;">
            <div class="card">
              <div class="card-body">
                <a class="nav-link" href="{% url 'tutors' %}" style="font-family: 'YunTaemin', sans-serif;font-size:30px;color:#5ec5c6;">튜터 신청 게시판</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/typing.js' %}"></script>
{% endblock %}
