{% extends 'page/base.html' %}
{% load static %}

{% block contents %}
<a href="{% url 'newtutorrequest' %}">새 글쓰기</a>
{% for tutorRequest in tutorRequests %}
<h1>{{tutorRequest.title}}</h1>
<h2>{{tutorRequest.summary}}</h2>
<p>{{tutorRequest.created_at}}</p>
<a href="{% url 'tutorrequest' tutorRequest.pk %}">더보기</a>
{% if tutorRequest.image %}
<img src="{{tutorRequest.image.url}}" height=200 alt="사진">
{% endif %}
{% endfor %}

{% if tutee_page.has_previous %}
        <a href="?page=1" class="btn btn-secondary">First</a>
        <a href="?page={{tutee_page.previous_page_number}}" class="btn btn-secondary">Previous</a>
        {% endif %}
        {% if tutee_page.has_next %}
        <a href="?page={{tutee_page.next_page_number}}" class="btn btn-secondary">Next</a>
        <a href="?page={{tutee_page.paginator.num_pages}}" class="btn btn-secondary">Last</a>
        {% endif %}
      </div></center>
      <br>
      <center>
  <span>{{tutee_page.number}}</span>
  <span>of</span>
  <span>{{tutee_page.paginator.num_pages}}</span>
  {% endblock%}