{% extends 'page/base.html' %}
{% load static %}

{% block contents %}

<div class="jumbotron" style="align-content: center;text-align: center" style="font-family: 'YunTaemin'">
    <h1 class="display-4" style="font-family: 'YunTaemin', sans-serif;">{{tutorRequest.title}}</h1>
    <hr class="my-4">
    {%if tutorRequest.image%}
    <img src="{{tutorRequest.image.url}}" alt="사진" height=300>
    {% endif %}
    <p class="lead" style="font-family: 'YunTaemin', sans-serif;">{{tutorRequest.content}}</p>
    <p>{{tutorRequest.created_at}}</p>
    {% if tutorRequest.author == user %}
        <a href="{% url 'tutorrequestedit' tutorRequest.pk %}" style="font-family: 'YunTaemin', sans-serif;">수정</a>
        <a href="{% url 'tutorrequestremove' tutorRequest.pk %}" style="font-family: 'YunTaemin', sans-serif;">삭제</a>
        <br>
    {% else %}
        <p style="font-family: 'YunTaemin', sans-serif;">글 수정 권한이 없습니다.</p>
    {% endif %}
    <br>
    <button type="button" class="btn btn-warning"><a href="{% url 'tutees' %}">뒤로가기</a></button>
</div>

{% endblock %}
