
<h1>Welcome to UFO!</h1>
<h2>efwqqwef</h2>

{% block contents %}
<!-- <li class="nav-item" style="position:absolute; top: 10px; right: 100px;">
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
</li>
    <li class="nav-item" style="position:absolute; top: 10px; right: 50px;">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
</li> -->
{% if user.is_authenticated %}
<!-- 만약 로그인이 되어있으면 로그아웃 버튼이 나타나도록 -->
<li class="nav-item" style="position:absolute; top: 10px; right: 50px;">
  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</li>
{% else %}
<!-- 로그인되어 있지 않으면 기존 버튼 그대로 -->
<li class="nav-item" style="position:absolute; top: 10px; right: 100px;">
  <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
</li>
<li class="nav-item" style="position:absolute; top: 10px; right: 50px;">
  <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endif %}

{% endblock %}
